/* src/components/Tarjeta/Tarjeta.css */
.tarjeta {
  border-radius: 12px;
  background: #FAFAFA;
  overflow: hidden;
  @media (max-width: 1279px) {
    width: 343px;    
  }

  @media (min-width: 1280px) {
    width: 508px;   
    display: flex;
    flex-direction: row; 
  }

}

.fav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.imagen-tarjeta-contenedor {
  @media (max-width: 1279px) {
    height: 238px;
    
  }
  @media (min-width: 1280px) {
    height: 137px;
    width: 137px;
    min-width: 137px;
    min-height: 137px;
  }
  overflow: hidden;
  position: relative;
}

.imagen-tarjeta {
  width: 100%;
}

.info-tarjeta {
  @media (max-width: 1279px) {
    padding: 16px 16px 24px 16px;
    
    width: 100%;
    
  }
  @media (min-width: 1280px) {
    padding: 12px 8px 16px 16px;
    height: 137px;
    width: 371px;
  }
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.info-name-status-species {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1280px) {
    width: 338px;
  }

}

.info-name-status {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.etiqueta-status {
  background-color: var(--primary-100);
  height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px 0 8px;
  flex-direction: row;
  gap: 4px;
}

.info-origin-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  @media screen and (max-width: 1279px) {
    gap: 32px;
    justify-content: flex-start;
    
  }

  @media screen and (min-width: 1280px) {
    gap: 70px;
    justify-content: flex-start;
    
  }
}

.info-ori-loc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}